Repository bruno-fs/pybuild-deps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, pydoclint

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

pydoclint:
  name: pydoclint
  entry: pydoclint
  language: system

chore: replace maintainer personal email
  .cruft.json
  CODE_OF_CONDUCT.md
  pyproject.toml
Due: check-toml

fix(README): revert mistakes :see_no_evil:
  README.md
Due: none

feat: resolve dependencies independently
  src/pybuild_deps/compile_build_dependencies.py
Due: pydoclint

feature: support constraints for more consistent results
  src/pybuild_deps/compile_build_dependencies.py
Due: pydoclint

test: "unit test" solving for unsolvable dependencies
  pyproject.toml
  tests/test_compile_build_dependencies.py
Due: check-toml, pydoclint

chore: remove typeguard checks
  .github/workflows/tests.yml
  noxfile.py
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml, pydoclint

test: fix flaky test
  tests/test_main.py
Due: pydoclint

chore: add more explanation for BuildDependencyCompiler.resolve inner workings
  src/pybuild_deps/compile_build_dependencies.py
Due: pydoclint

chore: bump version to 0.3.0
  pyproject.toml
Due: check-toml

chore: improve readability and add code explanations
  src/pybuild_deps/compile_build_dependencies.py
  src/pybuild_deps/exceptions.py
  tests/test_main.py
Due: pydoclint

chore: more cleanup to BuildDependencyCompiler.resolve
  src/pybuild_deps/compile_build_dependencies.py
Due: pydoclint

chore: bump actions/download-artifact and actions/upload-artifact
  .github/workflows/tests.yml
Due: check-yaml

feature: add support for zipped sdists and pinned url dependencies
  src/pybuild_deps/compile_build_dependencies.py
  src/pybuild_deps/finder.py
  src/pybuild_deps/parsers/requirements.py
  src/pybuild_deps/source.py
  src/pybuild_deps/utils.py
  tests/test_main.py
  tests/test_utils.py
Due: pydoclint

chore: bump version to 0.4.0
  pyproject.toml
Due: check-toml

wip
  src/pybuild_deps/__main__.py
  src/pybuild_deps/compile_build_dependencies.py
  src/pybuild_deps/finder.py
  src/pybuild_deps/source.py
  src/pybuild_deps/utils.py
  tests/test_main.py
Due: pydoclint

fix(compile): patch an issue that was resulting in inconsistent annotations
  src/pybuild_deps/compile_build_dependencies.py
  tests/test_main.py
Due: pydoclint

wip
  poetry.lock
  pyproject.toml
  src/pybuild_deps/__main__.py
  src/pybuild_deps/compat.py
  src/pybuild_deps/parsers/__init__.py
  src/pybuild_deps/scripts/rusted.py
Due: check-toml, pydoclint

wip
  src/pybuild_deps/compat.py
  src/pybuild_deps/scripts/rusted.py
Due: pydoclint

wip
  src/pybuild_deps/scripts/rusted.py
Due: pydoclint

fix(compile): sorting of packages should now be consistent
  src/pybuild_deps/scripts/compile.py
Due: pydoclint

chore(cruft): ignore changes on poetry.lock
  .cruft.json
Due: none

chore: expand support to python 3.13
  .cruft.json
  .github/workflows/constraints.txt
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .readthedocs.yml
  .safety-policy.yml
  LICENSE
  docs/requirements.txt
  noxfile.py
Due: check-yaml, pydoclint

chore: reformat files with ruff
  src/pybuild_deps/compile_build_dependencies.py
  src/pybuild_deps/exceptions.py
  src/pybuild_deps/parsers/requirements.py
Due: pydoclint

chore: update dependencies
  poetry.lock
Due: none

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pydoclint: any of: \.py$
