Repository bruno-fs/pybuild-deps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, pydoclint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: pydoclint
        name: pydoclint
        entry: pydoclint
        language: system
        types: [python]
      - id: ruff
        name: ruff
        entry: ruff check
        args: [--fix]
        language: python
        types_or: [python, pyi]
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: python
        types_or: [python, pyi]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier

chore(cruft): ignore changes on poetry.lock
  .cruft.json
Due: none

chore: expand support to python 3.13
  .cruft.json
  .github/workflows/constraints.txt
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .readthedocs.yml
  .safety-policy.yml
  LICENSE
  docs/requirements.txt
  noxfile.py
Due: check-yaml, pydoclint

chore: update dependencies
  poetry.lock
Due: none

fix(compile): patch an issue that was resulting in inconsistent annotations
  src/pybuild_deps/compile_build_dependencies.py
  tests/test_main.py
Due: pydoclint

fix(compile): order of packages is now consistent
  src/pybuild_deps/scripts/compile.py
  tests/test_main.py
Due: pydoclint

chore: bump version to 0.4.1
  pyproject.toml
Due: check-toml

test(get_package_source): add minimalist test
  tests/test_source.py
Due: pydoclint

perf(finder): cache results from find_build_deps
  conftest.py
  src/pybuild_deps/cache.py
  src/pybuild_deps/compile_build_dependencies.py
  src/pybuild_deps/finder.py
  tests/test_main.py
  tests/test_source.py
Due: pydoclint

ci: temporarly remove safety check
  .github/workflows/tests.yml
  noxfile.py
  pyproject.toml
Due: check-toml, check-yaml, pydoclint

chore: upgrade dependencies
  poetry.lock
Due: none

chore: reuse piptools default cache dir
  src/pybuild_deps/compile_build_dependencies.py
  src/pybuild_deps/constants.py
  src/pybuild_deps/scripts/compile.py
  tests/test_compile_build_dependencies.py
  tests/test_main.py
Due: pydoclint

chore: bump version to 0.5.0
  pyproject.toml
Due: check-toml

ci: add codecov secret
  .github/workflows/tests.yml
Due: check-yaml
